body {
    font-size: 16px;
}
body, html {
    /* height: 100%; */
    margin: 0;
}

.navbar {
    padding: 10px 0 10px 0;
    font-size: 22px;
    background-color: #4A5B6B;
    border-color: #4A5B6B;
}
.navbar-brand {
    font-size: 29px; 
}
.nav-item {
    padding-right: 18px;
    /* padding-top: 22px; */
}
.contact-btn{
    background-color :#FFA000;
}
.custom-toggler.navbar-toggler {
    border: 2px solid rgb(255,255,255);
    padding: 6px 10px 5px 10px;
    margin-top: 6px;
}
section{
    margin-left: 90px;
    margin-right: 90px;
}
.contact{
    margin-top: 150px;
    margin-bottom: 50px;
}
h1{
    font-size: 55px;
}
/* h3 {
    font-size: 24px;
} */
form{
    margin-top: 30px;
    margin-bottom: 80px;
}

i{
    font-size: 25px;
    color: white;
    background-color: #428BD4;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 20px;

}
textarea {
    height: 146px;
}

.btn{
    color:white;
    background-color: #428BD4;
    border-color: #428BD4;
    margin: 15px 5px 0 5px;
    transition: all 0.1s ease-in-out;
}
.btn:hover{
    background-color: #FFA000;
    border-color: #FFA000;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4A5B6B;
    height: 100px;
    text-align: center;
    padding: 20px 0 5px 0;
    margin-top: 20px;
}
.social-link {
    font-size: 30px;
}
.copyright {
    padding-top: 20px;
}